#### Get data from the UCI ML repository (watch out: it's *not always online*)

[The repository website](https://archive.ics.uci.edu/datasets)

In [3]:
import ucimlrepo as uci_data

In [4]:
help(uci_data)

Help on package ucimlrepo:

NAME
    ucimlrepo

PACKAGE CONTENTS
    dotdict
    fetch
    test

DATA
    API_BASE_URL = 'https://archive.ics.uci.edu/api/dataset'
    API_LIST_URL = 'https://archive.ics.uci.edu/api/datasets/list'
    DATASET_FILE_BASE_URL = 'https://archive.ics.uci.edu/static/public'
    Optional = typing.Optional
        Optional[X] is equivalent to Union[X, None].

    VALID_FILTERS = ['aim-ahead']

FILE
    /home/ale/git/main/ScienzaDati/sdati_venv/lib/python3.12/site-packages/ucimlrepo/__init__.py

In [5]:
dir(uci_data)

['API_BASE_URL',
 'API_LIST_URL',
 'DATASET_FILE_BASE_URL',
 'DatasetNotFoundError',
 'Optional',
 'VALID_FILTERS',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'certifi',
 'dotdict',
 'fetch',
 'fetch_ucirepo',
 'json',
 'list_available_datasets',
 'pd',
 'ssl',
 'urllib']

In [ ]:
type(uci_data.fetch_ucirepo(id=492) )
# uci_data.list_available_datasets()

DatasetNotFoundError: "Traffic Flow Forecasting" dataset (id=608) exists in the repository, but is not available for import. Please select a dataset from this list: https://archive.ics.uci.edu/datasets?skip=0&take=10&sort=desc&orderBy=NumHits&search=&Python=true

In [7]:
import pandas as pd

dataset_dict_raw = uci_data.fetch_ucirepo(id=492)

In [18]:
dataset_pd = dataset_dict_raw['data']['features']
target_pd = dataset_dict_raw['data']['targets']

In [24]:
dataset_pd_test = dataset_pd.copy()

In [49]:
dataset_pd_test

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time
0,NaN,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00
1,NaN,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00
2,NaN,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00
3,NaN,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00
4,NaN,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00
...,...,...,...,...,...,...,...,...
48199,NaN,283.45,0.0,0.0,75,Clouds,broken clouds,2018-09-30 19:00:00
48200,NaN,282.76,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 20:00:00
48201,NaN,282.73,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00
48202,NaN,282.09,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 22:00:00
48203,NaN,282.12,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 23:00:00

In [57]:
dt.isoweekday('monday')

TypeError: descriptor 'isoweekday' for 'datetime.date' objects doesn't apply to a 'str' object

In [ ]:
from datetime import datetime as dt

dataset_pd_test['datetime_obj'] = pd.to_datetime(dataset_pd_test['date_time'])

In [52]:
dataset_pd_test['hour'] = dataset_pd_test['datetime_obj'].dt.time

In [58]:
dataset_pd_test['day_of_week'] = dt.isoweekday(dataset_pd_test['datetime_obj'].date() )

AttributeError: 'Series' object has no attribute 'date'

In [31]:
dt.now()

datetime.datetime(2025, 4, 14, 23, 24, 34, 776586)

In [48]:
dt.time(dt.now()).strftime('%H:%M:%S')

'23:26:00'